VITE_SUPABASE_URL=https://rflnzhpfmrvnhfgcedwu.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Swmug6dWJAl0Yo-uT1TyXQ_heKDjPDi
VITE_APP_URL=https://sahara-seven-virid.vercel.app
VITE_API_URL=https://sahara-3r4x.onrender.com